<% unless @bearing.nil? %>
	<% if @bearing.is_invalid? %>
		<div class="well well-small">
			<span class="label label-warning">Invalid Input!</span>
		</div>
	<% else %>
		<div class="well well-small">
		Front: <span class="badge"><%= @bearing.front %></span>
		Top: <span class="badge"><%= @bearing.top %></span>
		<% unless @bearing.is_ship_valid? %>
			<span class="label label-warning">Ship Not Valid!</span>
			</div>
		<% else %>
			<span class="label label-success">Ship Valid!</span>
			</div>
			<% if @bearing.has_targets? %>
				<div class="well well-small">
					<table class="table table-condensed">
						<thead><th>Target</th><th>Bearing</th></thead>
						<tbody>
							<% @bearing.targets.each do |t| %>
							<tr><td><span class="badge"><%= t %></span></td> 
							<td>
							<% case @bearing.evaluate_target(t) %>
									<% when 'Fore, Unprotected', 'Aft, Unprotected' %>
										<span class="label label-danger">
									<% when 'Fore, Starboard Sidewall', 'Fore, Port Sidewall', 'Aft, Starboard Sidewall', 'Aft, Port Sidewall' %>
										<span class="label label-warning">
									<% when 'Starboard Broadside','Port Broadside' %>
										<span class="label label-success">
									<% else %>
										<span class="label label-default">
									<% end %>
									<%= @bearing.evaluate_target(t) %></span>
							</td></tr>
						<% end %>
					</tbody></table>
				</div>
			<% end %>
			<br>
		<% end %>
	<% end %>
<% end %>
<%= render 'form' %>