<div class="span4">
	<div class="panel panel-default">
		<div class="panel-heading">Internals</div>
		<div class="panel-body">
			<div class="well well-small">
				<table class="table table-condensed">
					<tr>
						<td>
							<table class="table table-condensed">
								<%= render 'internalarray', info: {name: "[brg] Bridge", array: info[:brg]} %>
								<%= render 'internalarray', info: {name: "[flg] Flag Bridge", array: info[:flg]} %>
								<%= render 'internalinteger', info: {name: "[lif] Life Support", int: info[:lif]} %>
								<%= render 'internalinteger', info: {name: "[com] Communications", int: info[:com]} %>
								<%= render 'internalarray', info: {name:"ECM", array: info[:ecm]} %>
								<%= render 'internalarray', info: {name: "[piv] Pivot", array: info[:piv]} %>
								<%= render 'internalarray', info: {name: "[rol] Roll", array: info[:rol]} %>
								<%= render 'internalinteger', info: {name: "[fwd] Forward Impeller", int: info[:fwd]} %>
								<%= render 'internalinteger', info: {name: "[aft] Aft Impeller", int: info[:aft]} %>
								<%= render 'internalarray', info: {name: "Maximum Thrust", array: info[:thrust]} %>
							</table>
						</td>
						<td>
							<table class="table table-condensed">
								<%= render 'internalinteger', info: {name: "[hyp] Hyper Generator", int: info[:hyp]} %>
								<%= render 'internalinteger', info: {name: "[hull] Hull", int: info[:hull]} %>
								<%= render 'internalarray', info: {name: "Repair Parties", array: info[:repair_parties]} %>
								<%= render 'internalarray', info: {name: "[SI] Structural Integrity", array: info[:si]} %>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>