<div class="span4">
	<div class="panel panel-default">
		<div class="panel-heading">Internals</div>
		<div class="panel-body">
			<div class="well well-small">
				<table class="table">
					<tr>
						<td>
							<table class="table">
								<tr><td>
									[brg] Bridge<br /><%= info[:brg] %>
								</td></tr>
								<tr><td>
									[flg] Flag Bridge<br /><%= info[:flg] %>
								</td></tr>
								<tr><td>
									[lif] Life Support<br /><%= info[:lif] %>
								</td></tr>
								<tr><td>
									[com] Communications<br /><%= info[:com] %>
								</td></tr>
								<tr><td>
									ECM<br /><%= info[:ecm] %>
								</td></tr>
								<tr><td>
									[piv] Pivot<br /><%= info[:piv] %>
								</td></tr>
								<tr><td>
									[rol] Roll<br /><%= info[:rol] %>
								</td></tr>
								<tr><td>
									[fwd] Forward Impeller<br /><%= info[:fwd] %>
								</td></tr>
								<tr><td>
									[aft] Aft Impeller<br /><%= info[:aft] %>
								</td></tr>
								<tr><td>
									Maximum Thrust<br /><%= info[:thrust] %>
								</td></tr>
							</table>
						</td>
						<td>
							<table class="table">
								<tr><td>
									[hyp] Hyper Generator<br /><%= info[:hyp] %>
								</td></tr>
								<tr><td>
									[hull] Hull<br /><%= info[:hull] %>
								</td></tr>
								<tr><td>
									Repair Parties<br /><%= info[:repair_parties] %>
								</td></tr>
								<tr><td>
									[SI] Structural Integrity<br /><%= info[:si] %>
								</td>
							</tr>
						</table>
					</td></tr>
				</table>
			</div>
		</div>
	</div>
</div>