<h1>Listing ship_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ship_classes.each do |ship_class| %>
  <tr>
    <td><%= ship_class.name %></td>
    <td><%= link_to 'Show', ship_class %></td>
    <td><%= link_to 'Edit', edit_ship_class_path(ship_class) %></td>
    <td><%= link_to 'Destroy', ship_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ship class', new_ship_class_path %>
