<div class="row">
	<div class="span10 offset1">
		<table class="table">
			<thead>
				<th><%= @ship_class.faction %></th>
				<th><i><%= @ship_class.name %></i> class <%= @ship_class.classification %></th>
			</thead>
		</table>
	</div>
</div>
<div class="row">
	<div class="span8 offset2">
		<table class="table">
			<tbody>
				<tr>
					<td><small>Crew: <%= @ship_class.total_crew %> (<%= @ship_class.officers %> Officers, <%= @ship_class.enlisted %> Enlisted, <%= @ship_class.marines %> Marines)</small></td>
					<td><small>Small Craft: <% @ship_class.small_craft.each do |craft,count| %>
						<%= count %> <%= craft %>, 
						<% end %>
					</small></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span8">
		<div class="row">
			<%= render 'broadside', info: { name: "Forward Hammerhead", fcon: @ship_class.fore_fcon, mag: @ship_class.fore_mag, missiles: @ship_class.fore_missiles, energy: @ship_class.fore_energy, cm: @ship_class.fore_cm, pd: @ship_class.fore_pd, decoy: @ship_class.fore_decoy} %>
			<%= render 'broadside', info: { name: "Aft Hammerhead", fcon: @ship_class.aft_fcon, mag: @ship_class.aft_mag, missiles: @ship_class.aft_missiles, energy: @ship_class.aft_energy, cm: @ship_class.aft_cm, pd: @ship_class.aft_pd, decoy: @ship_class.aft_decoy} %>
		</div>
		<div class="row">
			<%= render 'broadside', info: { name: "Port Broadside", fcon: @ship_class.port_fcon, mag: @ship_class.port_mag, missiles: @ship_class.port_missiles, energy: @ship_class.port_energy, cm: @ship_class.port_cm, pd: @ship_class.port_pd, decoy: @ship_class.port_decoy} %>
			<%= render 'broadside', info: { name: "Starboard Broadside", fcon: @ship_class.star_fcon, mag: @ship_class.star_mag, missiles: @ship_class.star_missiles, energy: @ship_class.star_energy, cm: @ship_class.star_cm, pd: @ship_class.star_pd, decoy: @ship_class.star_decoy} %>
		</div>
		<div class="row">
			<%= render 'hit', info: { scale: @ship_class.scale, core_armor: @ship_class.core_armor, star_sidewall: @ship_class.star_sidewall, port_sidewall: @ship_class.port_sidewall } %>
		</div>
	</div>
	<div class="span4">
		<div class="row">
			<%= render 'crew', info: { base_cost: @ship_class.base_cost } %>
		</div>
		<div class="row">
			<%= render 'range', info: { range_bands: @ship_class.range_band_display } %>
		</div>
		<div class="row">
			<%= render 'internals', info: { brg: @ship_class.brg, flg: @ship_class.flg, lif: @ship_class.lif, com: @ship_class.com, ecm: @ship_class.ecm, piv: @ship_class.piv, rol: @ship_class.rol, fwd: @ship_class.fwd, aft: @ship_class.aft, thrust: @ship_class.thrust, hyp: @ship_class.hyp, hull: @ship_class.hull, repair_parties: @ship_class.repair_parties, si: @ship_class.si } %>
		</div>
	</div>
</div>



<%= link_to 'Edit', edit_ship_class_path(@ship_class) %> |
<%= link_to 'List', ship_classes_path %>
