<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target"#nav-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">SITS Helper</a>
	</div>
	<div class="collapse navbar-collapse" id="nav-collapse">
		<ul class="nav navbar-nav">
			<li><%= link_to 'Home', root_path %></li>
			<!-- <li><%= link_to 'About', about_path %></li> -->
			<li><a href="#" data-toggle="modal" data-target="#aboutModal">
				About
			</a></li>
			<li><%= link_to 'Ship Classes', ship_classes_path %></li>
			<li><%= link_to 'Bearing Checker', bearings_path %></li>
			<li><%= link_to 'RALT+', ralt_path %></li>
			<li><%= link_to 'Loose Navigation', navigation_loose_path %></li>
			<li><%= link_to 'Strict Navigation', navigation_strict_path %></li>
			<li><%= link_to 'Ship Top Finder', navigation_top_path %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
				<li><%= link_to "Logout #{current_user.name}", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Login', new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
</nav>
<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" area-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="aboutModalLabel">About SITS Helper</h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
      	<p>SITS Helper is to help someone manage Saganami Island Tactical Simulator.</p>
      	<p>By Ben Thomas</p>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->